@using System.Globalization
@using Microsoft.AspNetCore.Http
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["CoffeeshopsProject"];
}

<!-- Content -->
    <!-- Lines -->
    <section class="content-lines-wrapper">
        <div class="content-lines-inner">
            <div class="content-lines"></div>
        </div>
    </section>
    <!-- Header Banner -->
    <section class="banner-header banner-img valign bg-img bg-fixed bgBanner" data-overlay-light="3" data-background="~/img/banner.jpg">
        <!-- Left Panel -->
        <div class="left-panel"></div>
    </section>
    <!-- Project Page  -->
    <section class="section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title2">@Localizer["CoffeeshopsProject"]</h2>
                </div>
            </div>
            <div class="row mt-30">
                <div class="col-md-6 gallery-item">
                    <a href="~/img/projects/6-Coffee shops Project/1.jpeg" title="Architecture" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="~/img/projects/6-Coffee shops Project/1.jpeg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 gallery-item">
                    <a href="~/img/projects/6-Coffee shops Project/2.jpeg" title="Architecture" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="~/img/projects/6-Coffee shops Project/2.jpeg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 gallery-item">
                    <a href="~/img/projects/6-Coffee shops Project/3.jpeg" title="Architecture" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="~/img/projects/6-Coffee shops Project/3.jpeg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 gallery-item">
                    <a href="~/img/projects/6-Coffee shops Project/4.jpeg" title="Architecture" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="~/img/projects/6-Coffee shops Project/4.jpeg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Prev-Next Projects -->
    <section class="projects-prev-next">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <div class="projects-prev-next-left">
                            <a href="cotton-house.html"> <i class="ti-arrow-left"></i>@Localizer["PreviousProject"]</a>
                        </div> <a href="/Home/projects"><i class="ti-layout-grid3-alt"></i></a>
                        <div class="projects-prev-next-right"> <a href="stonya-villa.html">Next Project <i class="ti-arrow-right"></i></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

