@{
    ViewData["Title"] = "Home Page";
}

<!-- income order visit user Start -->
<div class="income-order-visit-user-area WelcomeHome">
    <div class="container-fluid">
        <div class="income-dashone-total shadow-reset mg-tb-15 nt-mg-b-30">
            <div class="">
                <div class="main-income-head">
                    <img src="img/logo/logo.png" alt="">
                    <div class="main-income-phara">
                        <h3>Welcome To Our ATMA </h3>
                        <p>
                            BRINGS CREATIVE IDEAS ALIVE BY BRINGING ALL THE SKILLS NECESSARY TO CREATE ENTERPRISE LEVEL MOBILE APPS INCLUDING USER EXPERIENCE DESIGN, CLOUD / API INTEGRATION, MOBILE SECURITY, ENGAGEMENT OPTIMIZATION AND CONTINUOUS
                            UPDATES.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- income order visit user End -->
