
<!-- Breadcome start-->
<div class="breadcome-area mg-b-30 small-dn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcome-list shadow-reset">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="breadcome-heading">
                                <h2>مرحبا بك فى ATMA</h2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="breadcome-menu">
                                <li>
                                    <a asp-controller="Home" asp-action="Index">الرئيسية</a> <span class="bread-slash">/</span>
                                </li>
                                <li>
                                    <span class="bread-blod">سليدر الرئيسي </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcome End-->
<!--  System Start-->
<div class="basic-form-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <!---- tab ----->

                <div class="sparkline9-list shadow-reset mg-b-30">
                    <div class="sparkline9-hd">
                        <div class="main-sparkline9-hd">
                            <h1>اضافة سليدر</h1>
                            <div class="sparkline9-outline-icon">
                                <a type="button" class="Additme btn-custon-four btn-warning btn-xs" href="#" data-toggle="modal" data-target="#addSlider" data-toggle="modal" data-target="#addSlider">
                                    <span class="fa fa-pencil"></span>اضافة
                                </a>
                                <span class="sparkline9-collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                                <span class="sparkline9-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline9-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar1">
                                <!-- <select class="form-control">
                                    <option value="">Export Basic</option>
                                    <option value="all">Export All</option>
                                    <option value="selected">Export Selected</option>
                                </select> -->
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                   data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar1">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="id">ID</th>
                                        <th data-field="titlear" data-editable="true">عنوان عربى </th>
                                        <th data-field="titleen" data-editable="true">عنوان انجليزى</th>
                                        <th data-field="desar">محتوى عربى</th>
                                        <th data-field="desen">محتوى انجليزى</th>
                                        <th data-field="photo">الصوره</th>
                                        <th data-field="action">الاوامر</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>الشهيد طيار أحمد عصمت ..</td>
                                        <td>Account Security Alert</td>
                                        <td>
                                            هو صاحب المقولة " ضحيت بنفسى ليعيش أطفالي الثلاثة أحرارًا" .. هو كافح ضد الانجليز و كرمه الملك فاروق في أولاده ...
                                        </td>
                                        <td>
                                            Your Google Account was just signed Your Google Account was just signed ...
                                        </td>

                                        <td>
                                            <div class="support-list-img">
                                                <a href="#" data-toggle="modal" data-target="#notpopUp">
                                                    <img src="img/slider.jpg" alt="" />
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group project-list-action">
                                                <button class="btn btn-white btn-action btn-xs"><i class="fa fa-remove"></i> حـذف</button>
                                                <button class="btn btn-white btn-xs" href="#" data-toggle="modal" data-target="#addSlider">
                                                    <i class="fa fa-pencil"></i>
                                                    تعديل
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>الشهيد طيار أحمد عصمت ..</td>
                                        <td>Account Security Alert</td>
                                        <td>
                                            هو صاحب المقولة " ضحيت بنفسى ليعيش أطفالي الثلاثة أحرارًا" .. هو كافح ضد الانجليز و كرمه الملك فاروق في أولاده ...
                                        </td>
                                        <td>
                                            Your Google Account was just signed Your Google Account was just signed ...
                                        </td>

                                        <td>
                                            <div class="support-list-img">
                                                <a href="#" data-toggle="modal" data-target="#notpopUp">
                                                    <img src="img/slider.jpg" alt="" />
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group project-list-action">
                                                <button class="btn btn-white btn-action btn-xs"><i class="fa fa-remove"></i> حـذف</button>
                                                <button class="btn btn-white btn-xs" href="#" data-toggle="modal" data-target="#addSlider">
                                                    <i class="fa fa-pencil"></i>
                                                    تعديل
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>الشهيد طيار أحمد عصمت ..</td>
                                        <td>Account Security Alert</td>
                                        <td>
                                            هو صاحب المقولة " ضحيت بنفسى ليعيش أطفالي الثلاثة أحرارًا" .. هو كافح ضد الانجليز و كرمه الملك فاروق في أولاده ...
                                        </td>
                                        <td>
                                            Your Google Account was just signed Your Google Account was just signed ...
                                        </td>

                                        <td>
                                            <div class="support-list-img">
                                                <a href="#" data-toggle="modal" data-target="#notpopUp">
                                                    <img src="img/slider.jpg" alt="" />
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group project-list-action">
                                                <button class="btn btn-white btn-action btn-xs"><i class="fa fa-remove"></i> حـذف</button>
                                                <button class="btn btn-white btn-xs" href="#" data-toggle="modal" data-target="#addSlider">
                                                    <i class="fa fa-pencil"></i>
                                                    تعديل
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>الشهيد طيار أحمد عصمت ..</td>
                                        <td>Account Security Alert</td>
                                        <td>
                                            هو صاحب المقولة " ضحيت بنفسى ليعيش أطفالي الثلاثة أحرارًا" .. هو كافح ضد الانجليز و كرمه الملك فاروق في أولاده ...
                                        </td>
                                        <td>
                                            Your Google Account was just signed Your Google Account was just signed ...
                                        </td>

                                        <td>
                                            <div class="support-list-img">
                                                <a href="#" data-toggle="modal" data-target="#notpopUp">
                                                    <img src="img/slider.jpg" alt="" />
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group project-list-action">
                                                <button class="btn btn-white btn-action btn-xs"><i class="fa fa-remove"></i> حـذف</button>
                                                <button class="btn btn-white btn-xs" href="#" data-toggle="modal" data-target="#addSlider">
                                                    <i class="fa fa-pencil"></i>
                                                    تعديل
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--- End tab --->
            </div>
        </div>
    </div>
</div>
<!--  System end-->
<!--- modal AddPhoto--->
<div id="notpopUp" class="modal modal-adminpro-general fullwidth-popup-InformationproModal PrimaryModal-bgcolor" role="dialog">
    <div class="modal-dialog fade bounceIn animated in">
        <div class="modal-content">
            <div class="modal-close-area modal-close-df">
                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
            </div>
            <div class="modal-body">
                <div class="modalPhotoV">
                    <img src="img/slider.jpg" alt="" />
                </div>
                <div class="form-group-inner">
                    <label>صورة نوع الصنف </label>
                    <div class="file-upload-inner ts-forms">
                        <div class="input prepend-small-btn">
                            <div class="file-button">
                                تحميل
                                <input type="file" onchange="document.getElementById('prepend-small-btn').value = this.value;">
                            </div>
                            <input type="text" id="prepend-small-btn" placeholder="عدل الصورة" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custon-three btn-danger">
                    <span class="adminpro-icon adminpro-danger-error"></span> الغاء
                </button>
                <button type="button" class="btn btn-custon-four btn-success">
                    <span class="fa fa-save"></span>
                    حفظ
                </button>

            </div>
        </div>
    </div>
</div>
<!--- end modal  --->
<!--- modal Addslider--->
<div id="addSlider" class="modal modal-adminpro-general fullwidth-popup-InformationproModal PrimaryModal-bgcolor" role="dialog">
    <div class="modal-dialog fade bounceIn animated in">
        <div class="modal-content">
            <div class="modal-close-area modal-close-df">
                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
            </div>
            <div class="modal-body">
                <div class="form-group-inner">
                    <label>عنوان عربى </label>
                    <div class="form-input-area">
                        <input type="number" class="form-control" name="name" placeholder=" عنوان عربى ">
                        <i class="fa fa-edit form-user" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="form-group-inner">
                    <label>محتوى عربى</label>
                    <div class="form-textarea-area">
                        <textarea name="review" class="form-control" placeholder="محتوى"></textarea>
                        <i class="fa fa-text-height form-user"></i>
                    </div>
                </div>

                <div class="form-group-inner">
                    <label>عنوان انجليزى </label>
                    <div class="form-input-area">
                        <input type="number" class="form-control" name="name" placeholder=" عنوان انجليزى ">
                        <i class="fa fa-edit form-user" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="form-group-inner">
                    <label>محتوى انجليزى</label>
                    <div class="form-textarea-area">
                        <textarea name="review" class="form-control" placeholder="محتوى"></textarea>
                        <i class="fa fa-text-height form-user"></i>
                    </div>
                </div>
                <div class="modalPhotoV">
                    <img src="img/slider.jpg" alt="" />
                </div>
                <div class="form-group-inner">
                    <label>صورة نوع الصنف </label>
                    <div class="file-upload-inner ts-forms">
                        <div class="input prepend-small-btn">
                            <div class="file-button">
                                تحميل
                                <input type="file" onchange="document.getElementById('prepend-small-btn').value = this.value;">
                            </div>
                            <input type="text" id="prepend-small-btn" placeholder="عدل الصورة" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custon-three btn-danger">
                    <span class="adminpro-icon adminpro-danger-error"></span> الغاء
                </button>
                <button type="button" class="btn btn-custon-four btn-success">
                    <span class="fa fa-save"></span>
                    حفظ
                </button>

            </div>
        </div>
    </div>
</div>