<!-- Breadcome start-->
<div class="breadcome-area mg-b-30 small-dn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcome-list shadow-reset">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="breadcome-heading">
                                <h2>مرحبا بك فى ATMA</h2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="breadcome-menu">
                                <li>
                                    <a asp-controller="Home" asp-action="Index">الرئيسية</a> <span class="bread-slash">/</span>
                                </li>
                                <li>
                                    <span class="bread-blod">المشاريع </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcome End-->
<!--- modal Display image--->
<div id="notpopUp" class="modal modal-adminpro-general fullwidth-popup-InformationproModal PrimaryModal-bgcolor" role="dialog">
    <div class="modal-dialog fade bounceIn animated in">
        <div class="modal-content">
            <div class="modal-close-area modal-close-df">
                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
            </div>
            <div class="modal-body">
                <div class="modalPhotoV">
                    <img id="ViewImage" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--- end modal  --->
<!--  System Start-->
<div class="basic-form-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <!---- tab ----->

                <div class="sparkline9-list shadow-reset mg-b-30">
                    <div class="sparkline9-hd">
                        <div class="main-sparkline9-hd">
                            <h1>المشاريع</h1>
                            <div class="sparkline9-outline-icon">
                                <a asp-action="ProjectDetails" target='_blank' class="Additme btn-custon-four btn-warning btn-xs">
                                    <span class="fa fa-pencil"></span>اضافة مشروع
                                </a>
                                <span class="sparkline9-collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                                <span class="sparkline9-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline9-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar1">
                              
                            </div>
                            <table id="ItemsTable" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                   data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar1">
                                <thead>
                                    <tr>
                                        <th data-field="ProjectId">ID</th>
                                        <th data-field="ProjectTitleAr" data-editable="true">عنوان عربى </th>
                                        <th data-field="ProjectTitleEn" data-editable="true">عنوان انجليزى</th>
                                        <th data-field="ContentAr">محتوى عربى</th>
                                        <th data-field="ContentEn">محتوى انجليزى</th>
                                        <th data-field="photo">الصوره</th>
                                        <th data-field="action">الاوامر</th>
                                        <th data-field="details">تفاصيل المشروع</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--- End tab --->
            </div>
        </div>
    </div>
</div>
<!--  System end-->

@section scripts
{
    <script src="~/ProjectJSFiles/Project_Index.js"></script>
}