@{
    ViewData["Title"] = "rightside";
    //Layout = "~/Views/Home/Index.cshtml";
}
<div class="">
    <div class="right_slider">
        <div class="">
            <div class="secondaryOpacity2 text-center sidemenu Sidemenu2"
                 id="sidebar">
                <div id="mySidenav1" class="sidenav">
                    <a href="javascript:void(0)"
                       class="closebtn"
                       onclick="closeNav()"><i class="fas fa-times"></i></a>
                    <!-- <h4 class="text-left text-white Logo-menu">
                      ATMA <span class="text-primary">.</span>
                    </h4> -->
                    <div class="side_links">
                        <div class="title_menu d-flex align-items-center text-white">
                            <h4 class="m-auto">Menu</h4>
                        </div>
                        <div class="menu_border">
                            <div class="reverse_border bg-white mt-5"></div>
                        </div>
                        <div class="overlay-content">
                            <a href="/Home/Index">Home</a>
                            <a href="/Home/About">About</a>
                            <a href="/Home/Projects">Projects</a>
                            <a href="/Home/Contact">Contact</a>
                        </div>
                        <div class="menu_border">
                            <div class="reverse_border bg-white"></div>
                        </div>
                    </div>
                    <ul class="social-network-nav social-circle text-white">
                        <li class="">
                            <a href="https://www.facebook.com/egyvisionmaterials" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a href="https://www.linkedin.com/company/egyvision/"  target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="">
                            <a href="http://www.instagram.com/egyvisionmaterials" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <span class="menu_icon text-white d-none d-sm-none d-md-block d-lg-block"
                      onclick="openNav()">
                    <i class="fas fa-bars"></i>
                </span>
            </div>
        </div>
    </div>
</div>