@using Microsoft.AspNetCore.Http

    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->



    <!-- Navbar & Carousel Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
        <a href="/Home/Index" class="navbar-brand p-0 logo">
            <img src="/home/getLogo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/Home/Index" class="nav-item nav-link">الرئيسية</a>
                    <a href="/Home/about" class="nav-item nav-link">من نحن</a>
                    @*                    <a href="/Home/BoarDirectors" class="nav-item nav-link active">مجلس الإدارة</a>
                    *@                <a href="http://towastore.atmatech.co/Store/StoreIndex" class="nav-item nav-link">مشاريعنا </a>
                    <a href="/Home/Governance" class="nav-item nav-link">الحوكمة</a>
                    <a href="/Home/BankAccounts" class="nav-item nav-link">حساباتنا البنكية</a>
                    <a href="/Home/MediaCenter" class="nav-item nav-link">المركز الاعلامي</a>
                    <a href="/Home/CustomerReviews" class="nav-item nav-link">قياس الرضا</a>
                    <a href="/Home/Contact" class="nav-item nav-link">تواصل معنا</a>
                </div>
            <a href="http://towastore.atmatech.co/Store/StoreIndex" target="_blank" class="btn btn-primary py-2 px-4 ms-3">تبرع الأن</a>
            <a href="#" class="visionLogo py-2 px-4"><img src="~/img/NewLogo.jpeg" /></a>

            </div>
        </nav>
        <div class="container-fluid bg-primary py-5 bg-header">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">مجلس الإدارة</h1>
                    <a href="" class="h5 text-white">الرئيسية</a>
                    <i class="far fa-circle text-white px-2"></i>
                    <a href="" class="h5 text-white">مجلس الإدارة</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Carousel End -->

    <!-- About Start -->
    <div class="container-fluid py-5 wow fadeInUp AboutHome" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-4">
                        <h5 class="fw-bold text-primary text-uppercase">مجلس الإدارة
                        </h5>
                        <h1 class="mb-0">جمعية طوى الخيرية </h1>
                    </div>

                    <div class="g-0 mb-3" data-wow-delay="0.2s">
                        <h6 class="wow zoomIn "><i class="fa fa-check text-primary me-3"></i>رئيس المجلس : الشيخ/
                            عبدالله بن جبران القرشي </h6>
                        <h6 class="wow zoomIn "><i class="fa fa-check text-primary me-3"></i>العضو ونائب الرئيس : الشيخ/
                            حامد بن فالح اللحياني
                        </h6>
                        <h6 class="wow zoomIn "><i class="fa fa-check text-primary me-3"></i>العضو والمشرف المالي :
                            الأستاذ/ نايف بن محمود بدوي
                        </h6>
                        <h6 class="wow zoomIn "><i class="fa fa-check text-primary me-3"></i>عضو مجلس : الشيخ/ أحمد بن
                            سليمان الوافي
                        </h6>
                        <h6 class="wow zoomIn "><i class="fa fa-check text-primary me-3"></i>عضو مجلس : الشيخ/ وحيد بن
                            محمد النحاس
                        </h6>
                        <h6 class="wow zoomIn "><i class="fa fa-check text-primary me-3"></i>عضو مجلس : الشيخ/ فهد بن
                            راجح الشريف
                        </h6>
                        <h6 class="wow zoomIn "><i class="fa fa-check text-primary me-3"></i> عضو مجلس : الشيخ/ ماهر بن
                            احمد خياط

                        </h6>
                    </div>

                    <p class="mb-4">صلاحيات التخطيط الإستراتيجي قصير المدى ومتوسط المدى وبعيد المدى .
                    </p>
                </div>
                <div class="col-lg-5">
                    <div class="position-relative h-100 imgContact">
                        <img class="position-absolute w-100 h-100 rounded wow fadeIn" data-wow-delay="0.9s"
                            src="~/img/WhatsApp-Image-2022-02-21-at-7.39.58-PM-203x300 (1).jpeg"
                            style="object-fit: cover;">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Service Start -->
    <div class="container-fluid py-5 wow fadeInUp ServicesAbout directorsBox" data-wow-delay="0.1s">
        <div class="container">


            <div class="row">
                <div class="col-md-8">
                    <div class="container-fluid wow fadeInUp" data-wow-delay="0.1s">
                        <div class="row g-5">
                            <div class="col-lg-7">
                                <div class="section-title position-relative pb-3 mb-4">
                                    <h5 class="fw-bold text-primary text-uppercase">المجلس التنفيذي
                                    </h5>
                                </div>

                                <div class="g-0 mb-3" data-wow-delay="0.2s">
                                    <h6 class="wow zoomIn "><i class="fa fa-check text-primary me-3"></i>المدير التنفيذي
                                        الأستاذ : محمد عاتي
                                    </h6>
                                </div>

                                <p class="mb-3">صلاحيات تسيير أمور الجمعية الإدارية والمالية والتشغيلية .
                                </p>
                                								<p class="mb-3">موبايل : 00966556433370 
                                </p>
                            </div>
                            <div class="col-lg-5 mb-3">
                                <div class="position-relative h-100 imgContact" style="min-height: 280px;">
                                    <img class="position-absolute w-100 h-100 rounded wow fadeIn" data-wow-delay="0.9s"
                                        src="~/img/WhatsApp-Image-2022-02-23-at-8.00.21-PM-300x200.jpeg"
                                        style="object-fit: cover;">

                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-4">
                    <div class="section-title position-relative pb-3 mb-4">
                        <h5 class="fw-bold text-primary text-uppercase">مجلس الأمناء
                        </h5>
                    </div>

                    <p class="mb-3">صلاحيات الحفاظ على توجهات الجمعية حسب النظام الأساسي للجمعية .
                    </p>
                    <div class="section-title position-relative pb-3 mb-4">
                        <h5 class="fw-bold text-primary text-uppercase">مجلس أعضاء الشرف

                        </h5>
                    </div>

                    <p class="mb-3">كبار الشخصيات وكبار المسؤولين لدعم الجمعية اجتماعياً واقتصادياً ومعنوياً .

                    </p>
                </div>
            </div>
        </div>
        </div>
    </div>
        <!-- Service End -->


        <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <div class="container py-5">
                <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
                    <h5 class="fw-bold text-primary text-uppercase">اللجان </h5>
                    <h4 class="mb-0" style="font-weight: 400;">لكل لجنة الصلاحية في أدائها وتوجيهاتها <br>حسب الهدف
                        المتفق عليه .</h1>
                </div>
                <div class="table-responsive text-center">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>الإعلامية</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>المالية</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>الموارد البشرية&nbsp;</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>الشراكات</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>الاستثمار والأوقاف&nbsp;</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>القانونية</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>العلاقات العامة</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>خدمة المجتمع</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    